* {
    background: rgba(0,0,0,0.1);
    box-sizing: border-box;
    position: relative;
}

input, button {
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
}

input {
    display: block;
    width: 100%;
}

.wrap {
    max-width: 500px;
    margin: 0 auto;
}

.navBar, .header {
    text-align: center;
}

.navBar {
    background: #db4c3f;
    color: #fff;
    padding: 10px 0;
}

.navBar h1 {
    font-size: 24px;
    margin: 0;
}

.header {
    padding: 20px 0;
    color: #555;
    font-size: 18px;
}
