<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <title>任务清单</title>
</head>
<body>
    <div id="main">
        <div class="navbar">
            <h1>任务清单</h1>
        </div>

        <div class="header">
            每天制定任务完成了吗？
        </div>

        <form @submit.prevent="merge" class="task-form">

            <div class="wrap">
                <input v-model="current.title" class="task-input" type="text" autocomplete="off">

                <div v-if="current.id" class="detail">
                    <textarea v-model="current.desc"></textarea>
                    <input v-model="current.alert_at" type="datetime-local">
                    <button type="submit">Submit</button>
                </div>


            </div>
        </form>

        <div class="task-list">

            <div class="wrap">
                <div class="segment-title">未完成</div>
                <task :todo="todo"
                      v-if="!todo.completed"
                      v-for="(todo,index) in list"
                      :key="index"
                    >
                </task>
            </div>
        </div>

        <div class="task-list">

            <div class="wrap">
                <div class="segment-title">已完成</div>
                <div v-if="todo.completed" v-for="(todo,index) in list" class="item completed">
                    <div @click="toggle_complete(todo.id)" class="toggle-complete"></div>
                    {{todo.title}}
                    <button @click="remove(todo.id)">删除</button>
                </div>
            </div>
        </div>
    </div>
    <audio id="alert-sound">
        <source src="./sound/BlankSpace.mp3">
    </audio>
    <template id="task-tpl">
        <div class="item">

            <div @click="action('toggle_complete',todo.id)" class="toggle-complete"></div>
            <span class="title">{{todo.title}}</span>

            <button @click="action('remove',todo.id)">删除</button>
            <button @click="action('set_current',todo)">更新</button>
            <button @click="action('toggle_detail',todo.id)">详情</button>

            <div v-if="todo.show_detail" class="detail">{{todo.desc || '暂无详情'}}</div>
        </div>
    </template>

    <script src="lib/vue.js"></script>
    <script src="js/myStorage.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
